@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.nav {
  font: 16px/1 'Open Sans', sans-serif;
  $w: 500px;
  $h: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  width: $w;
  height: $h;
  margin-top: -($h/2);
  margin-left: -($w/2);
  transform: translateZ(0);
  &:hover .link {
    width: 5%;
  }
  .link {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    transition: .3s width;
    overflow: hidden;
    cursor: pointer;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      width: 60%;
   }
    .small {
      position: absolute;
      top: 0;
      left: 0;
      width: ($w/5);
      line-height: 50px;
      text-align: center;
      font-family: fontawesome;
      font-size: 24px;
      overflow: hidden;
    }
    .full {
      display: flex;
      position: absolute;
      top: 22px;
      left: 80px;
      text-transform: uppercase;
      .f1, .f2 {
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
      }
      .f2 {
        margin-top: 8px;
        font-size: 12px;
      }
    }
    .prev {
      position: absolute;
      top: 0;
      left: 7px;
      font-family: fontawesome;
      font-size: 12px;
      line-height: 50px;
      transition: .5s opacity;
      opacity: 0;
    }
    &:hover .prev {
      opacity: 0;
    }
  }
  &:hover .prev {
    opacity: 1;
  }
}