@import "acordion-menu.scss";

.header {
  grid-area: header;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  *::selection {
    background: none;  
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    font-size: 1.5em;
    align-items: normal;
    transition: all 0.3s;

    div {
      margin: 0 10px;

    .theme:hover,
    .auth:hover,
    .lang:hover {
      cursor: pointer;
      color: royalblue;
      }

    .theme:active,
    .auth:active,
    .lang:active {
      cursor: pointer;
      color: rosybrown;
      }
    }

    .themes,
    .langs {
      display: flex;
      position: relative;
      top: 10px;
      width: fit-content;
      height: fit-content;

      span {
        margin: 0 10px;
        background: inherit;
        color: inherit;
      }
    }
    
    .themes-hidden,
    .langs-hidden {
      display: none;
    }
  }
}
