@import '../../variables.scss';

footer {
  background-color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        display: inline;
        margin-right: 40px;
        font-size: 20px;
        text-transform: uppercase;

        a {
          color: black;

          &:hover {
            color: $color-focus;
          }
        }
      }
    }
  }

  .github_logo {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }

  .rss {
    display: block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    width: 86px;
    height: 32px;
    background-image: url(/src/assets/logo/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 111px;
  }

  .rss-year {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 21px;
    letter-spacing: -2px;
    color: #0f0f0f;
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
  }

  .rss:hover .rss-year {
    right: -5px;
    letter-spacing: 0;
  }
}

