.promo {
  height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 40px;
  padding: 60px 0;
  transition: 0.25s ease;

  &-link {
    text-decoration: none;
  }

  &:hover {
    height: 500px;
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  animation: spacing 1s ease-out forwards;
  text-shadow: 2px 2px 6px black;
  transition: transform 0.25s ease;
}

@keyframes spacing {
  0% {
    opacity: 0;
    letter-spacing: -30px;
  }
  100% {
    opacity: 1;
    letter-spacing: -4px;
  }
}