.footer-block {
  padding: 0;

  img{
    height: 50px;
    width: 50px;
    transition: all 0.5s;
  }
  
  img:hover {
    transform: rotate(45deg);
  }

  a{
    color: chocolate;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px;
    transition: all 0.3s;
  }
  a:hover {
  color: green;
  }
}


