.footer-block {
  padding: 0;
  img {
    height: 50px;
    width: 50px;
    transition: all 0.4s linear;
  }

  img:hover {
    transform: rotate(45deg);
  }

  a {
    color: #ffc300;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px;
    transition: all 0.3s;
    font-weight: 900;
    font-size: 1em;
  }
  a:hover {
    color: green;
  }
  p {
    color: green;
    font-weight: 900;
    margin: 0;
  }
}
.footer {
  padding: 20px 10px;
  align-items: center;
}
.link-logo-block:hover {
  text-decoration: none;
}
