.main {
  // height: 800px;
  //   background-image: url(../../assets/img/21922.jpg);
  padding: 20px 10px;
}
.card-country {
  cursor: pointer;
  margin: 20px 10px;
  overflow: hidden;
  transition: all 0.2s linear;
  img {
    transition: all 0.2s linear;
  }
}
.card-country:hover {
  transform: scale(1.01, 1.01);
  img {
    transform: scale(1.05, 1.05);
  }
}
