@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  background-color: $color-body;
  overflow-x: hidden;
}

.container {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 1400px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 400px;
  }
}