$bottom-line: 200px;
$rect-height: 100px;
$rect-width: $rect-height;
$color-bg-popup: #14c3bb;
$color-bg-input: #ffffff;
$color-bg-card: #ffffff99;
$color-body: #e6e6e6;
$color-focus: #0094ff;
$color-text-light: #ffffff;
$color-accept: greenyellow;
$color-decline: rgb(251, 63, 63);
$color-border-popup: #111;