@import '../../variables.scss';

.language-select {
  border-radius: 18px;
  height: 36px;
  padding: 0 15px;
  width: 150px;
  border: none;
  margin-right: 10px;
  background-color: $color-focus;
  color: white;
  font-size: 18px;

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  @media screen and (max-width: 1400px) {
    margin-right: 0;
  }
}