.receipts {
  grid-area: receipts;
  text-align: center;
  max-width: calc(100vw - 105px);
  background-color: inherit;
  color: inherit;

.content {
  display: grid;
  grid-template-rows: 50px calc(100vh - 410px) 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "categories categories categories categories"
    "category category category menus"
    "recent recent favorites favorites";
  max-height: calc(100vh - 125px);
  max-width: calc(100vw - 105px);
  justify-content: space-around;
  background-color: inherit;
  color: inherit;
}

.categories {
  grid-area: categories;
  background-color: inherit;
  color: inherit;
}

.areas {
  grid-area: favorites;

}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .list-item{
      display: block;
      border: 1px solid #508150;
      border-radius: 5px;
    }

    .category-name {
    padding: 3px 10px;
    height: 20px;
    }

    .active-category {
      background-color: #508150;
      color: snow;
    }
}

.category {
  grid-area: category;
  display: block;
  background-color: inherit;
  color: inherit;
}

.category-content {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: calc(100vw - 107px);
  max-height: calc(100vh - 430px);
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
}

.recents {
  grid-area: recent;
  display: block;
  background-color: inherit;
  color: inherit;
}

.category-header, 
.recents-header {
  background-color: rgb(80, 129, 80);
  border-radius: 10px;
  height: 25px;
  padding: 3px 0px;
  // margin: 5px 5px;
  font-size: 16px;
}

.recent-content {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: calc(100vw - 107px);
  max-height: 235px;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
}

.receipt {
    display: grid;
    grid-template-rows: auto 30px 10px;
    grid-template-columns: 190px;
    grid-template-areas:
        "see"
        "buttons"
        "mealName";
    width: 190px;
    height: 190px;
    margin: 0px 10px 70px 10px;
    border-radius: 100px; 
  
  .receipt-buttons{
    grid-area: buttons;
    display: flex;
    justify-content: space-around;

  .receipt-add {
    position: relative;
    text-align: left;
    right: 25px;
    top: 10px;
    z-index: 1;
  }

  .receipt-favorite {
    position: relative;
    text-align: right;
    left: 25px;
    top: 10px;
    z-index: 1;
  }

  .receipt-add:hover,
  .receipt-favorite:hover {
    cursor: pointer;
  }
  }

  .receipt-see {
    grid-area: see;
  }

  .receipt-see:hover {
    cursor: pointer;
  }

  .receipt-meal {
    grid-area: mealName;
    position: relative;
    height: 56px;
    top: 10px;
    font-size: 15px;
    padding: 2px 5px;
    text-emphasis: none;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 100px;
    // background: rgba(0, 0, 0, 0.75);
  }
  .receipt-ingrredients {
    position: relative;
    top: 30px;
  }

  }

.receipt:hover {
  border-radius: 10px;
  transition: all 0.1s;
  width: 200px;
  height: 200px;
  margin: 0px 5px 45px 5px;

  .receipt-meal {
    position: relative;
    top: 10px;
    font-size: 18px;
    padding: 2px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // background: rgba(0, 0, 0, 0.75);
    }
  }
}

.modal-receipt {
  display: grid;
  grid-template-rows: 50px 25px 290px 4fr 5fr;
  grid-template-columns: 145px 145px 1fr 1fr;
  grid-template-areas:
    "receipHeader receipHeader receipHeader receipHeader"
    "receipCat receipCat receipCat receipCat"
    "receipThumb receipThumb receipIng receipIng"
    "receipDescription receipDescription receipIng receipIng"
    "receipInstruction receipInstruction receipInstruction receipInstruction";
  background-color: inherit;
  color: inherit;
  
  .receipt-category {
    grid-area: receipCat;
    display: flex;
    justify-content: center;
    background-color: #88ad88ad;
    border-radius: 5px;
  }

  .receipt-meal {
    grid-area: receipHeader;
  }

  .receipt-cat {
    margin: 5px 15px;
    text-decoration: none;
  }

  .receipt-persons {
    display: flex;
    margin: 15px 0;
    font-size: 35px;
    justify-content: center;
    align-items: center;
  }

  .receipt-persons-value {
    margin: 15px 0;
    font-size: 35px;
    background-color: inherit;
    border: 1px solid grey;
    border-radius: 5px;
    width: 50px;
    padding: 5px 0;
  }

  .receipt-persons-minus,
  .receipt-persons-plus {
    margin: 15px 20px;
    font-size: 35px;
    background-color: yellowgreen;
    border-radius: 5px;
    width: 50px;
  }

  .receipt-persons-minus:hover,
  .receipt-persons-plus:hover {
    cursor: pointer;
    background-color: rgb(128, 172, 42);
    transition: all 0.2s;
  }

  .receipt-persons-minus:active,
  .receipt-persons-plus:active {
    cursor: pointer;
    background-color: rgb(108, 172, 42);
    transition: all 0.2s;

  }

  .receipt-thumb {
    grid-area: receipThumb;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
    border-radius: 10px;
    }
  }

  .receipt-ingredients {
    grid-area: receipIng;
    display: grid;
    justify-content: center;
    font-size: 16px;
  }
  .receipt-ingredient {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "name dotted measure";
    min-width: 350px;
    margin: 5px 0;
  }

  .receipt-ingredient-name {
    grid-area: name;
    text-align: left;
    width: fit-content;
  }

  .receipt-ingredient-dotted {
    grid-area: dotted;
    border-bottom: 1px dotted black;
    min-width: 20px;
  }

  .receipt-ingredient-measure {
    grid-area: measure;
    text-align: right;
    width: fit-content;

  }
}


