.all-users-ratings {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
