.family {
  grid-area: family;
  text-align: center;
  max-width: calc(100vw - 105px);
  color: inherit;
  background-color: inherit;

    .content {
      display: grid;
      grid-template-rows: 30px calc(100vh - 140px);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "modes modes"
        "mode mode";
      max-height: calc(100vh - 125px);
      max-width: calc(100vw - 105px);
      justify-content: space-around;
      color: inherit;
      background-color: inherit;

    }

    .family-modes {
     grid-area: modes;
     display: flex;
     justify-content: space-around;
     text-align: center;
     font-size: 16px;
     color: inherit;
     background-color: inherit;
    }

    .mode-family {
      grid-area: mode;
      padding: 6px 0px;
      width: 100%;   
      color: inherit;
      background-color: inherit;
    /* border: 1px solid white; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    /* margin: 0 5px; */
    /* background: cadetblue; */
    /* border-bottom-width: 0px; */
    }

    .adults-header,
    .adultsdiet-header,
    .childrendiet-header,
    .children-header,
    .pets-header{
      color: #518051;
    }

    .adults-minus, .adults-plus,
    .adultsdiet-minus, .adultsdiet-plus,
    .childrendiet-minus, .childrendiet-plus,
    .children-minus, .children-plus {
      margin: 0 20px;
      font-size: 45px;
    }

    .adults-minus::selection, .adults-plus::selection,
    .adultsdiet-minus::selection, .adultsdiet-plus::selection,
    .childrendiet-minus::selection, .childrendiet-plus::selection,
    .children-minus::selection, .children-plus::selection {
      background: none;
    }

    .adults-minus:hover, .adults-plus:hover,
    .adultsdiet-minus:hover, .adultsdiet-plus:hover,
    .childrendiet-minus:hover, .childrendiet-plus:hover,
    .children-minus:hover, .children-plus:hover {
      cursor: pointer;
      transition: all 0.2s;
      color: #518051;
    }
    
    .adults-minus:active, .adults-plus:active,
    .adultsdiet-minus:active, .adultsdiet-plus:active,
    .childrendiet-minus:active, .childrendiet-plus:active,
    .children-minus:active, .children-plus:active,
    .pets-plus:active {
      transition: all 0.2s;
      color: #91ad91;
    }

    .pets {
      display: grid;
      grid-template-rows: 40px 18vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "petsicon petsheader petsheader"
        "petsicon petsswitcher petsswitcher";
      justify-content: space-around;
      font-size: 35px;
      margin-left: 10px;
      color: inherit;
      background-color: inherit;
      // max-height: calc(100vh - 125px);
      // max-width: calc(100vw - 105px);
      
      .pets-plus {
        color: inherit;
      }
      
      .pets-icon {
          grid-area: petsicon;
          background: url(../assets/images/cat-animal.svg) no-repeat center center;
          height: 18vh;
        }

        .pets-header {
          grid-area: petsheader;
          text-align: left;
          padding: 0 12vw;
        }

        .pets-switcher {
          grid-area: petsswitcher;
          display: flex;
          justify-content: right;
          align-items: center;
          padding: 0 12vw;
        }

        .pet {
          display: flex;
          margin: 10px 0;

          .material-icons:hover {
            cursor: pointer;
            transition: all 0.2s;
            color: #518051;
          }

          .material-icons:active {
           transition: all 0.2s;
           color: #91ad91;
          }
        }
    }
      .children {
      display: grid;
      grid-template-rows: 40px 18vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "childrenicon childrenheader childrendietheader"
        "childrenicon childrenswitcher childrendietswitcher";
      justify-content: space-around;
      font-size: 35px;
      margin-left: 10px;
      // max-height: calc(100vh - 125px);
      // max-width: calc(100vw - 105px);

      .children-icon {
        grid-area: childrenicon;
        background: url(../assets/images/kids-children.svg) no-repeat center center;
        height: 18vh;
      }

      .children-header {
          grid-area: childrenheader;
          text-align: center;
        }

        .children-switcher {
          grid-area: childrenswitcher;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .childrendiet-header {
          grid-area: childrendietheader;
          text-align: left;
        }

        .childrendiet-switcher {
          grid-area: childrendietswitcher;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }

    .adults {
        display: grid;
      grid-template-rows: 40px 18vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "adultsicon adultsheader adultsdietheader"
        "adultsicon adultsswitcher adultsdietswitcher";
      justify-content: space-around;
      font-size: 35px;
      margin-left: 10px;
      // max-height: calc(100vh - 125px);
      // max-width: calc(100vw - 105px);

      .adults-icon {
        grid-area: adultsicon;
        background: url(../assets/images/couplefamily.svg) no-repeat center center;
        height: 18vh;
      }

      .adults-header {
          grid-area: adultsheader;
          text-align: center;
        }

        .adults-switcher {
          grid-area: adultsswitcher;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .adultsdiet-header {
          grid-area: adultsdietheader;
          text-align: left;
        }

        .adultsdiet-switcher {
          grid-area: adultsdietswitcher;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
}

